html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}
  

#controlpanel {
    background-color: rgb(49, 65, 59);
    color:rgb(227, 244, 238);
}

svg {
    background-color: azure;
}
